.social{
    top: 50%;
    /* left: -2%; */
    transform: translateY(-50%);
    padding: 0.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;


}

.social a{
    background-color: #6c6767;
    color: black;
    font-size: 125%;
    font-weight: 500;
    align-items: center;
    gap: 0.8rem;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 8rem;
    margin-left: -100px;
    transition: all 0.8s;
}
.social a:hover{
    width: 14rem;
}

@media screen and (max-width:1024px){
    /* .social{
        padding: 1.5rem;
    } */
    .social a{
        font-size: 150%;
        font-weight: 700;
    }
}