.skills .skills__me{
    align-items: center;
    margin-bottom: 2rem;
    margin-left: -5rem;
    font-size: 1.2rem;
    margin-top: -3rem;
}

.skills .heading{
    color: var(--orange);
    text-align: center;
    margin-left: -5rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
}
.skills .heading span{
    color: var(--color-white);
}

.skill__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 90%;
}

.skill__container > div{
    background: var(--color-bg-varient);
    padding: 1rem 5rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    margin-right: 3rem;
}
.skill__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.skill__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--yellow);
}

.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skill__details{
    display: flex;
    gap: 1rem;
}


.skill__details p{
    color: var(--color-white);
    text-align: center;
    margin-top: -1rem;
}
.skill__details h4{
    color: var(--color-white);
}
@media screen and (max-width: 1024px){
    
    .skill__container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    
}