@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #1f1f38;
    --color-bg-varient: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.6);
    --yellow:#F5C32C;
    --orange:#FCA61F;
    --black:#242D49;
    --gray:#788097;
    --blueCard:#DDF8FE;
    --purple:rgb(238 210 255);
    --boxShadow:0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard:rgba(252, 166, 31, 0.45);
    --smboxShadow:-79px 51px 60px rgba(0, 0, 0, 0.08%)

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html{
    scroll-behavior: smooth;
}

[data-theme="dark"] {
    --color-bg: #1a1a1a;
}
/* ::-webkit-scrollbar{
    display: none;
} */

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    background-image: url(../src/assests/bg-texture.png);
}


section{
    height: 100%;
    margin-left: 5rem;
    margin-top: 6rem;
}

section > h2, section > h5{
    text-align: center;
    columns: var(--color-light);
}

section >h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light{
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
}

.btn{
    width :max-content;
    display: inline-block;
    /* background: var(--orange); */
    color: var(--color-white);
    padding: 0.20rem 0.70rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--orange);
    transition: var(--transition);
}

.btn:hover{
    color: var(--color-black);
    /* border-color: transparent; */
}


.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 0.4rem 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid transparent;
    cursor: pointer;
}
.btn-primary:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.img{
    display: block;
    width: 100%;
    object-fit:cover;
}


@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-md);
    }
    
    section{
        margin-top: 6rem;
        margin-left: 3rem;
    }
    .day__night{
        margin-left: 1rem;
        margin-top: 2rem;
    }
}

